.ap-lookup {
  &__search {
    display: flex;
    align-items: center;

    &__input {
      width: 80%;
      padding: 0.5em;
      border: 0;
      font-size: 1em;

      &:focus {
        outline: none;
      }
    }
  }

  &__result {
    font-size: 0.85em;
    display: flex;
    margin: 15px 0 0 0;

    &__id {
      min-width: 50px;
      margin-right: 5px;
      font-weight: 700;
    }
  }
}
