$background-color: #f7f7f7;
$container-bg-color: #fefefe;
$container-bg-color-dark: #2b3b4a;
$border-color: hsl(0, 0%, 97%);
$button-color: #1d89ff;
$hover-color: hsl(211, 100%, 65%);
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
