@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  background-color: #fefefe;
  border-radius: 8px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 15px 0px #d9d9d9;
          box-shadow: 0px 0px 15px 0px #d9d9d9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(210px, 25%) auto;
      grid-template-columns: minmax(210px, 25%) auto;
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
  overflow: auto;
}

#root {
  width: 90%;
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 992px) {
  #root {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 992px) {
  #root {
    width: 95%;
  }
}

.settings {
  padding: 15px;
  border-right: 1px solid #f7f7f7;
}

@media screen and (max-width: 768px) {
  .settings {
    padding: 7px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    background-color: #fefefe;
  }
}

@media screen and (max-width: 768px) {
  .settings__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .settings__section {
    grid-column: span 1;
  }
}

.settings__h1 {
  margin-top: 0;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .settings__h1 {
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.settings__h2 {
  font-weight: 300;
  font-size: 1.1rem;
  margin: 20px 0 15px 15px;
}

@media screen and (max-width: 768px) {
  .settings__h2 {
    margin: 10px 0 5px 10px;
    font-size: 1rem;
  }
}

.settings__seperator {
  width: 80%;
  margin: 20px auto 20px auto;
  border: 1px solid #f7f7f7;
}

@media screen and (max-width: 768px) {
  .settings__seperator {
    display: none;
  }
}

.settings__chkgrp {
  width: 75%;
  margin: auto;
  padding: 0;
  list-style-type: none;
}

.settings__chkgrp-item {
  margin: 10px 0 10px 0;
}

.settings--dark {
  background-color: #2b3b4a;
  color: #fefefe;
  border-right: 0;
}

.settings--dark .settings__seperator {
  border: 0;
  border-top: 1px solid #bbb;
}

.csv-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.settings button,
.csv-reader-input > label {
  display: block;
  margin: 10px auto 15px auto;
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #1d89ff;
  text-align: center;
  padding: 9px 0px;
  outline: none;
  cursor: pointer;
  border-width: 0;
  border-radius: 4px;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.settings button:hover,
.csv-reader-input > label:hover {
  background-color: #4da3ff;
}

.settings button.--inverse,
.csv-reader-input > label.--inverse {
  color: #000;
  border: 2px solid #1d89ff;
  background-color: #fff;
}

.settings button.--inverse:hover,
.csv-reader-input > label.--inverse:hover {
  border-color: #4da3ff;
  background-color: #4da3ff;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .settings button,
  .csv-reader-input > label {
    width: 300px;
  }
}

.csv-input:focus {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

@media screen and (max-width: 768px) {
  .MuiPaper-root {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 768px) {
  .MuiIconButton-root {
    padding: 3px !important;
  }
}

@media screen and (max-width: 768px) {
  .MuiTableCell-root {
    padding: 16px 5px 16px 5px !important;
  }
}
/*# sourceMappingURL=style.css.map */