@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'vars';

body {
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 90%;
  margin: 0 auto 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;

  @media screen and (min-width: $lg-width) {
    margin-top: 40px;
  }

  @media screen and (max-width: $lg-width) {
    width: 95%;
  }
}
