@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'vars';

body {
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 90%;
  margin: 0 auto 0 auto;

  @media screen and (min-width: $lg-width) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: $lg-width) {
    width: 95%;
  }
}
