@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'vars';

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#root {
  width: 100%;
  margin: 0 auto 0 auto;
  margin-top: 0;
  margin-bottom: 40px;

  @media screen and (min-width: $sm-width) {
    width: 90%;
    margin-top: 20px;
  }

  @media screen and (min-width: $lg-width) {
    width: 80%;
    margin-top: 30px;
  }
}
