@import '../../style/vars';

main {
  width: 100%;
  background-color: $container-bg-color;
  border-radius: 10px;
  box-shadow: 0 0.45rem 2.2rem rgba(90, 97, 105, 0.1),
    0 1rem 1.4rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.5rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  display: grid;
  grid-template-columns: minmax(210px, 25%) auto;
  grid-template-rows: 50px auto;
  overflow: auto;
}
