@import '../../style/vars';

main {
  width: 100%;
  background-color: $container-bg-color;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0.45rem 2.2rem rgba(90, 97, 105, 0.1),
    0 1rem 1.4rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.5rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  display: grid;
  grid-template-columns: minmax(210px, 25%) auto;
  grid-template-rows: 48px auto;
  overflow: auto;

  @media screen and (min-width: $sm-width) {
    border-radius: 10px;
  }
}

.settings {
  $self: &;
  padding: 15px;

  @media screen and (max-width: $md-width) {
    padding: 7px;
    grid-column: 1 / span 2;
    background-color: $container-bg-color;
    margin-bottom: 15px;
  }

  &__wrapper {
    @media screen and (max-width: $md-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: baseline;
      font-size: 0.9rem;
    }
  }

  &__section {
    @media screen and (max-width: $md-width) {
      grid-column: span 1;
    }
  }

  &__h1 {
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 30px;

    @media screen and (max-width: $md-width) {
      font-size: 1.2rem;
      margin: 10px 0 8px 10px;
    }
  }

  &__h2 {
    font-weight: 300;
    font-size: 1.1rem;
    margin: 20px 0 15px 15px;
    @media screen and (max-width: $md-width) {
      margin: 10px 0 5px 10px;
      font-size: 1rem;
    }
  }

  &__seperator {
    width: 80%;
    margin: 20px auto 20px auto;
    border: 1px solid $border-color;

    @media screen and (max-width: $md-width) {
      display: none;
    }
  }

  &__chkgrp {
    width: 75%;
    margin: auto;
    padding: 0;
    list-style-type: none;
  }

  &__chkgrp-item {
    margin: 10px 0 10px 0;
  }

  &--dark {
    background-color: $container-bg-color-dark;
    color: $container-bg-color;
    border-right: 0;

    #{ $self }__seperator {
      border: 0;
      border-top: 1px solid #bbb;
    }
  }

  .pretty {
    margin-right: 0.5em;
  }
}
