@import '../../style/vars';

.csv-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.sidemenu button,
.csv-reader-input > label {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-align: left;
  background-color: $container-bg-color;
  padding: 11px 0px 11px 15px;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);

  @media screen and (min-width: $md-width) and (hover: hover) {
    &:hover {
      background-color: $dark-grey;
    }
  }

  &.--red {
    background-color: rgba(179, 73, 59, 0.65);
    border: 0;
    color: #fff;

    @media screen and (min-width: $md-width) and (hover: hover) {
      &:hover {
        background-color: #cf5444;
      }
    }
  }
}

.sidemenu {
  &__icon {
    font-size: 1em;
    margin-right: 5px;
  }
}

.csv-input:focus {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.MuiPaper {
  &-root {
    @media screen and (max-width: $md-width) {
      grid-column: 1 / span 2;
    }
  }
}

.MuiIcon-root {
  font-size: 1.1rem !important;
}

.MuiIconButton-root {
  padding: 6px !important;
  @media screen and (max-width: $md-width) {
    padding: 3px !important;
  }
}

.MuiTableCell-root {
  @media screen and (max-width: $md-width) {
    padding: 16px 5px 16px 5px !important;
  }
}
