@import '../../../style/vars';

.map-area {
  @media screen and (max-width: $md-width) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  &--dark-bg {
    background-color: $container-bg-color-dark;
  }

  svg {
    display: block;
  }
}

.rsm-geography {
  outline: none;
}
