@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'vars';

body {
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  background-color: $container-bg-color;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 15px 0px hsl(0, 0%, 85%);
  display: grid;
  grid-template-columns: minmax(210px, 25%) auto;
  grid-template-rows: 50px auto;
  overflow: auto;
}

#root {
  width: 90%;
  margin: 0 auto 0 auto;

  @media screen and (min-width: $lg-width) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: $lg-width) {
    width: 95%;
  }
}

.MuiPaper-root {
  @media screen and (max-width: $md-width) {
    grid-column: 1 / span 2;
  }
}

.MuiIconButton-root {
  @media screen and (max-width: $md-width) {
    padding: 3px !important;
  }
}
.MuiTableCell-root {
  @media screen and (max-width: $md-width) {
    padding: 16px 5px 16px 5px !important;
  }
}

.settings {
  $self: &;
  padding: 15px;
  border-right: 1px solid $border-color;

  @media screen and (max-width: $md-width) {
    padding: 7px;
    grid-column: 1 / span 2;
    background-color: $container-bg-color;
  }

  &__wrapper {
    @media screen and (max-width: $md-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: baseline;
      font-size: 0.9rem;
    }
  }

  &__section {
    @media screen and (max-width: $md-width) {
      grid-column: span 1;
    }
  }

  &__h1 {
    margin-top: 0;
    font-size: 1.5rem;

    @media screen and (max-width: $md-width) {
      font-size: 1.2rem;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  &__h2 {
    font-weight: 300;
    font-size: 1.1rem;
    margin: 20px 0 15px 15px;
    @media screen and (max-width: $md-width) {
      margin: 10px 0 5px 10px;
      font-size: 1rem;
    }
  }

  &__seperator {
    width: 80%;
    margin: 20px auto 20px auto;
    border: 1px solid $border-color;

    @media screen and (max-width: $md-width) {
      display: none;
    }
  }

  &__chkgrp {
    width: 75%;
    margin: auto;
    padding: 0;
    list-style-type: none;
  }

  &__chkgrp-item {
    margin: 10px 0 10px 0;
  }

  &--dark {
    background-color: $container-bg-color-dark;
    color: $container-bg-color;
    border-right: 0;

    #{ $self }__seperator {
      border: 0;
      border-top: 1px solid #bbb;
    }
  }
}

.csv-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.settings button,
.csv-reader-input > label {
  display: block;
  margin: 10px auto 15px auto;
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: $button-color;
  text-align: center;
  padding: 9px 0px;
  outline: none;
  cursor: pointer;
  border-width: 0;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);

  &:hover {
    background-color: hsl(211, 100%, 65%);
  }

  &.--inverse {
    color: #000;
    border: 2px solid #1d89ff;
    background-color: #fff;

    &:hover {
      border-color: hsl(211, 100%, 65%);
      background-color: hsl(211, 100%, 65%);
      color: #fff;
    }
  }

  @media screen and (max-width: $md-width) {
    width: 300px;
  }
}

.csv-input:focus {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
