@keyframes ldio-xpvg3zvqvzh {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.close {
  z-index: 99;
}

.ldio-xpvg3zvqvzh div {
  position: absolute;
  width: 48px;
  height: 48px;
  border: 7px solid #0067f4;
  border-top-color: transparent;
  border-radius: 50%;
}

.ldio-xpvg3zvqvzh div {
  animation: ldio-xpvg3zvqvzh 1s linear infinite;
  top: 115px;
  left: 115px;
}

.loadingio-spinner-rolling-jzxalr2eq9a {
  width: 230px;
  height: 230px;
  display: inline-block;
  overflow: hidden;
  background: none;
  grid-column: 1 / 3;
  margin: auto;
}

.ldio-xpvg3zvqvzh {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-xpvg3zvqvzh div {
  box-sizing: content-box;
}
